 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
body{
  background-color: #f8b4c0;
}
img {
  width: 150px;
  height: 150px;
}
li{
  color: #ffffff;
}
h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}